#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #222222;
  color: #fff;
}

.footerTop {
  padding-bottom: 25px;
}

.footerTop h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footerTop p {
  color: #666666;
  line-height: 22px;
}

.footerTop .footerSocailLink {
  margin-top: 20px;
}

.footerSocailLink li {
  float: left;
  margin-right: 25px;
  font-size: 23px;
}

.footerSocailLink li a {
  color: #b2b2b2;
}

.footerSocailLink li a:hover {
  color: #6c7ae0;
}

.subsribeForm input {
  width: 100%;
  background: transparent;
  padding: 5px 15px 5px 0;
  font-size: 16px;
  color: #666666;
  border-bottom: 1px solid #666666;
  border-right: none;
  outline: none;
  margin-bottom: 20px;
}

.subsribeForm input:focus {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;

  border-bottom: 2px solid #6c7ae0;
}

.subsribeForm button {
  padding: 7px 40px;
  border-radius: 50px;
  color: #fff;
  background: #6c7ae0;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
}

.subsribeForm button:hover {
  color: #6c7ae0;
  background: #fff;
}

.footerBottom .paymentMethod {
  text-align: center;
}

.footerBottom .copyRight {
  text-align: center;
  color: #666666;
  margin-top: 15px;
  font-size: 17px;
}
