* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-4 {
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.img-fluid {
  width: 100%;
  height: auto;
}
